
/* setting default */

@font-face{
  src:url('../fonts/Montserrat-Bold.ttf');
  font-family: 'Bold';
}

@font-face{
  src:url('../fonts/Montserrat-SemiBold.ttf');
  font-family: 'Semibold';
}

@font-face{
  src:url('../fonts/Montserrat-Regular.ttf');
  font-family: 'Regular';
}

body{
	font-family: 'Regular';
}

input, select{
  border: 0px;
  outline: none;
}

a{
	transition: all .2s ease-in-out;
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background-color: #ddd;
}
 
::-webkit-scrollbar-thumb {
    background-color: #F8CD0F;
}

::selection{
    background-color: #F8CD0F;
    color: #fff;
}

::-moz-selection{
  background-color: #00b4aa;
    color: #fff;
}

/* bg */

.bg-none{
  background-color: transparent;
}

.bg-white{
  background-color: #fff;
}

.bg-black{
  background-color: #333;
}

.bg-yellow{
  background-color: #F8CD0F;
}

.bg-blue-old{
  background-color: #1E3D59;
}

.bg-transparent{
  background-color: rgba(255,255,255,.3 );
}

/* font-color & font-family */

.font-white{
  color: #fff;
}

.font-yellow{
  color: #F8CD0F;
}

.font-blue-old{
  color: #1E3D59;
}

.font-black{
  color: #333;
}

.font-regular{
  font-family: 'Regular';
}

.font-semibold{
  font-family: 'Semibold';
}

.font-bold{
  font-family: 'Bold';
}

/* margin top */

.margin-top-30{
  margin-top: 30px !important;
}

.margin-top-80{
  margin-top: 80px !important;
}

.margin-top-250{
  margin-top: 250px !important;
}

/* align */

.align-left{
  text-align: left;
}

.align-center{
  text-align: center;
}

.align-right{
  text-align: right;
}

.align-center-default{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* radius */

.border-top-left-radius {
  border-top-left-radius: 5px;
}

.border-top-right-radius {
  border-top-right-radius: 5px;
}

.border-bottom-left-radius {
  border-bottom-left-radius: 5px;
}

.border-bottom-right-radius {
  border-bottom-right-radius: 5px;
}

.border-all-radius {
  border-radius: 5px;
}

.border-all-radius-20{
  border-radius: 20px;
}

/* place holder*/

#placeholder-yellow ::-webkit-input-placeholder { /* Chrome */
  color: #F9C90A !important;
  font-size: 14px;
}

#placeholder-yellow ::-ms-input-placeholder { /* IE 10+ */
  color: #F9C90A !important;
  font-size: 14px;
}

#placeholder-yellow :::-moz-placeholder { /* Firefox 19+ */
  color: #F9C90A !important;
  font-size: 14px;
  opacity: 1;
}

#placeholder-yellow ::-moz-placeholder { /* Firefox 4 - 18 */
  color: #F9C90A !important;
  font-size: 14px;
  opacity: 1;
}

#placeholder-white ::-webkit-input-placeholder { /* Chrome */
  color: #fff !important;
  font-size: 14px;
}

#placeholder-white ::-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
  font-size: 14px;
}

#placeholder-white :::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
  font-size: 14px;
  opacity: 1;
}

#placeholder-white ::-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff !important;
  font-size: 14px;
  opacity: 1;
}

#placeholder-white ::-webkit-input-placeholder { /* Chrome */
  color: #fff !important;
  font-size: 14px;
}

/* btn */

.btn{
  padding: 8px 15px;
}

.btn-full-width{
  width: 100%;
}

/* logo type */

.logo-big img{
  height: 350px;
}

.logo-middle img{
  height: 130px;
}

.logo-small img{
  height: 100px;
}

/* input type */

.input-style-default{
  padding: 8px 0px;
}

.input-style-pading{
  padding: 8px 15px;
}

.input-border-bottom{
  border-bottom: 1px #fff solid;
}

/* bg */

.bg-register{
  background: url('../img/bg.png');
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

/* registration sk */

.register-sk{
  width: 40%;
  margin: 30px auto;
}

.show-password {
  position: absolute;
  top: -23px;
  transform: translateY(150%);
  right: 10px;
}

.show-password:hover{
  text-decoration: none;
}

/* add photo */

.add-photo{
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 30px;
}

.input-photo{
  text-align: center;
  margin: 0 auto;
  width: 120px;
  position: relative;
}

.input-photo img{
  width: 120px;
  margin-top: -90px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #fff;
  height: 120px !important;
}

.input-photo input{
  height: 120px;
  width: 120px;
  margin-top: -120px;
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

/* pagination */

.pagination > li > a, .pagination > li > span{
  background-color: transparent;
  color: #fff;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #F9C90A;
  border-color: #F9C90A;
  color: #333;
}

/* use sk */

.use-sk a{
  margin-bottom: 10px;
}

.use-sk a:hover{
  background-color: #222;
}

/* switch input */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-input:checked + .slider {
  background-color: #F9C90A;
}

.switch-input:focus + .slider {
  box-shadow: 0 0 1px #F9C90A;
}

.switch-input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




/* responsive */

@media screen and (max-width: 480px){
  .logo-big img{
    height: 200px;
  }

  .logo-middle img{
    height: 89px;
  }

  .logo-small img{
    height: 65px;
  }

  .margin-top-30{
    margin-top: 15px !important;
  }

  .margin-top-80{
    margin-top: 50px !important;
  }

  .margin-top-250{
    margin-top: 150px !important;
  }

  .register-sk{
    width: 95%;
  }

  .bg-register{
    position: relative;
    min-height: 100% !important;
    padding-bottom: 20px;
  }

  .use-sk h5{
    font-size: 12px;
  }
}